@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    <h4 class="lead">Please edit you organizational units here:</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="width: 50px;">Id</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>
                    <input type="text" class="form-control" value="org1"/>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>org2</td>
            </tr>
        </tbody>
    </table>

</div>
